@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Archivo', sans-serif;
}

.dark-theme {
  --text-link: #ffa7c4;
  --text-color: #e9ecef;
  --background: #282c35;
  --border: #495057;
}

.light-theme {
  --text-link: #d23669;
  --text-color: #343a40;
  --background: #fff;
  --border: #dee2e6;
}

.title {
  word-spacing: 1rem;
}

.para {
  word-spacing: 3px;
}

.mail {
  word-wrap: break-word;
}

@media (min-width: 64em) {
  .project-image {
    transition: all 0.9s;
  }

  .project-image:hover {
    transform: scale(1.2);
  }
}
