@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Archivo', sans-serif;
  overflow: hidden;
}

.dark-theme {
  --text-link: #ffa7c4;
  --text-color: #e9ecef;
  --background: #282c35;
  --border: #495057;
}

.light-theme {
  --text-link: #d23669;
  --text-color: #343a40;
  --background: #fff;
  --border: #dee2e6;
}

.title {
  word-spacing: 1rem;
}

.para {
  word-spacing: 3px;
}

.mail {
  word-wrap: break-word;
}

.container {
  max-width: 60rem;
  margin: 3rem auto 0 auto;
}

@media (max-width: 63em) {
  .container {
    max-width: 50rem;
  }

  html {
    font-size: 78.25%;
  }
}

@media (max-width: 52em) {
  .container {
    max-width: 40rem;
  }
}

@media (max-width: 44em) {
  .container {
    max-width: 35rem;
  }
}

@media (max-width: 36em) {
  .container {
    max-width: 28.5rem;
  }
}

@media (min-width: 64em) {
  .project-image {
    transition: all 0.9s;
  }

  .project-image:hover {
    transform: scale(1.2);
  }
}
